# This is the REB default Cpp config file
# Goto https://github.com/CodeGiorgino/reb and have a look at the README for more info

cpp23:
  EXT       = ".cpp"
  NAME      = "main"
  COMP      = "g++"
  FLAGS     = "-Wall -Wextra --std=c++23"
  SOURCE    = "./src"
  BUILD     = "./build"
  AUTO_RUN  = "false"
