# This is the REB default config file
# Goto https://github.com/CodeGiorgino/reb and have a look at the README for more info

- c98:
    - GXX      = "gcc"
    - CXX      = "--std=C98"
    - CC       = "-Wall -Wextra"
    - SOURCE   = "./src"
    - OBJ      = "./obj"
    - BUILD    = "./build"
    - KEEP_OBJ = "true"
    - AUTO_RUN = "true"
    - IGNORE   = ".git"

- cpp23:
    - GXX      = "g++"
    - CXX      = "--std=C++23"
    - CC       = "-Wall -Wextra"
    - SOURCE   = "./src"
    - OBJ      = "./obj"
    - BUILD    = "./build"
    - KEEP_OBJ = "true"
    - AUTO_RUN = "true"
    - IGNORE   = ".git"